USE [Financiamientos]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/8/2017 15:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Emprendimientoes]    Script Date: 10/8/2017 15:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprendimientoes](
	[CodigoEmp_id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
	[Costo] [float] NOT NULL,
	[Duracion] [int] NOT NULL,
	[Puntaje] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Financiador_Fin_id] [int] NULL,
 CONSTRAINT [PK_dbo.Emprendimientoes] PRIMARY KEY CLUSTERED 
(
	[CodigoEmp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Financiadors]    Script Date: 10/8/2017 15:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financiadors](
	[Fin_id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Pass] [nvarchar](max) NOT NULL,
	[NombreOrg] [nvarchar](max) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Financiadors] PRIMARY KEY CLUSTERED 
(
	[Fin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Emprendimientoes] ON 

INSERT [dbo].[Emprendimientoes] ([CodigoEmp_id], [Titulo], [Costo], [Duracion], [Puntaje], [Descripcion], [Financiador_Fin_id]) VALUES (1, N'Reparar ', 20000, 10, 5, N'Reparar Computadoras', NULL)
INSERT [dbo].[Emprendimientoes] ([CodigoEmp_id], [Titulo], [Costo], [Duracion], [Puntaje], [Descripcion], [Financiador_Fin_id]) VALUES (2, N'Actualizar', 20000, 50, 12, N'Actualizar Computadoras', NULL)
INSERT [dbo].[Emprendimientoes] ([CodigoEmp_id], [Titulo], [Costo], [Duracion], [Puntaje], [Descripcion], [Financiador_Fin_id]) VALUES (3, N'Vender', 30000, 25, 8, N'Venta de Celulares', NULL)
SET IDENTITY_INSERT [dbo].[Emprendimientoes] OFF
SET IDENTITY_INSERT [dbo].[Financiadors] ON 

INSERT [dbo].[Financiadors] ([Fin_id], [Email], [Pass], [NombreOrg], [Monto]) VALUES (1, N'marcos@hotmail.com', N'marquitos', N'Adidas', CAST(200000.00 AS Decimal(18, 2)))
INSERT [dbo].[Financiadors] ([Fin_id], [Email], [Pass], [NombreOrg], [Monto]) VALUES (2, N'andres@hotmail.com', N'1234', N'AOC', CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[Financiadors] ([Fin_id], [Email], [Pass], [NombreOrg], [Monto]) VALUES (3, N'victoria@hotmail.com', N'12345', N'Sophilabs', CAST(500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Financiadors] OFF
ALTER TABLE [dbo].[Emprendimientoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Emprendimientoes_dbo.Financiadors_Financiador_Fin_id] FOREIGN KEY([Financiador_Fin_id])
REFERENCES [dbo].[Financiadors] ([Fin_id])
GO
ALTER TABLE [dbo].[Emprendimientoes] CHECK CONSTRAINT [FK_dbo.Emprendimientoes_dbo.Financiadors_Financiador_Fin_id]
GO
